/* Styles for content part of page, which includes customer info, ship and order info, table with product info*/

.content-block {
    height: calc(100% - 40px);
    flex: 1;
    overflow-y: auto;
    margin-top: 40px;
    transition: opacity 0.2s;
}

.content-block h3 {
    padding: 10px;
}

.content-block-block::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.content-block::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.content-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

.order-info {
    width: 94%;
    height: 230px;
    background-color: #eff4f8;
    padding: 40px 3% 6px;
    border-bottom: 1px solid #d8e2ec;
    position: relative;
    z-index: 1;
}

.order-info h2 {
    width: 60%;
}

.order-info .price {
    position: relative;
    font-size: 24px;
    text-align: right;
    top: -174px;
}

.circle {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #8092a0;
    pointer-events: none;
}

.circle-active {
    background-color: #b8835b;
    filter: invert(1);
}

.order-info img {
    width: 34px;
    margin-top: 7px;
}

.bottom-line {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 52px;
    height: 70px;
    cursor: pointer;
}

.bottom-line:nth-of-type(3) {
    left: calc(6% + 60px);
    border-bottom: 3px solid transparent;
}

#mapBtn {
    left: calc(9% + 120px);
    border-bottom: 3px solid transparent;

}

.bottom-line:nth-of-type(2) {
    border-bottom: 3px solid #738fa4;
}

.shipping-block {
    width: 94%;
    height: auto;
    padding: 20px 3% 20px;
    border-bottom: 1px solid #d8e2ec;
    position: relative;
}

.shipping-block button {
    display: none;
}

.shipping-block .edit-toggle-btn {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 20px;
    padding: 3px 10px;
    margin-top: -40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

hr {
    border: none;
    color: lightgrey;
    background-color: lightgrey;
    height: 1px;
    margin-top: -10px;
}

.shipping-block .shipping-lists {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
}

.shipping-block ul {
    width: 21%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.shipping-block ul:nth-of-type(2) {
    width: 50%;
    padding: 0;
    margin-left: 10px;
    text-align: left;
    color: black;
}

.shipping-block li {
    list-style: none;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shipping-block a {
    text-decoration: none;
}

.shipping-block input, #processorInfContainer input {
    border: none;
    outline: 1px solid grey;
    margin-top: 4px;
    padding-left: 10px;
}

#processorInfContainer .shipping-block ul {
    width: 25%;
}

#processorInfContainer .shipping-block ul:nth-of-type(2) {
    width: 60%;
}

#processorInfContainer .shipping-block {
    height: 250px;
}

.shipping-block .details-block {
    width: 55%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.details-block-wrapper {
    display: flex;
}

.shipping-block h4 {
    margin-left: 10px;
}

.shipping-block .picture-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}

.shipping-block .pictureBg {
    background-color: #d1ddeb;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.shipping-block .picture-wrapper img {
    width: 80px;
    height: 80px;
    filter: invert(1);
    margin-top: 35px;
    margin-left: 35px;
}

.line-items {
    background-color: #fafafa;
    width: 96%;
    padding: 20px 2% 20px;
}

.products-form {
    position: relative;
    width: 350px;
    margin-left: 10px;
}

.products-form button {
    position: relative;
    top: -25px;
    left: 115px;
    padding-right: 3px;
    background-color: transparent;
    border: 0;
}
.add-product-btn{
    position: absolute;
    right: 0;
}
.products-form-buttons img {
    width: 16px;
    margin-top: 3px;
}

#productsInput {
    height: 20px;
    width: 250px;
    padding-right: 50px;
    font-style: italic;
    text-indent: 10px;
    z-index: -1;
}

#productsInput:focus {
    outline: 1px dotted black;
    outline-offset: -3px;
}

.products-form-buttons {
    text-align: right;
    position: relative;
    width: 70px;
    left: 110px;
}

.add-product-img {
    width: 25px;
    position: absolute;
    right: 10px;
    top: 0;

}
.products-table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.products-table th, .products-table td {
    text-align: right;
    padding: 6px 10px;
    width: calc(100% - 20px);
    justify-content: space-around;
    flex: 2;
}

.products-table th {
    padding-right: 0;
    padding-left: 20px;
}

.products-table button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    vertical-align: middle;
    height: 24px;
}

.table-img-wrapper {
    pointer-events: none;
    opacity: 0.3;
}

.table-sort-asc {
    height: 6px;
    overflow: hidden;
}

.table-sort-desc {
    transform: rotate(180deg);
    height: 6px;
    overflow: hidden;
}

.products-table button img {
    width: 12px;
    pointer-events: none;
}

.products-table th:nth-of-type(1), .products-table td:nth-of-type(1) {
    text-align: left;
    flex: 6;
    width: 300px;
}
.products-table th:last-of-type, td:last-of-type{
    padding-right: 15px;
}
.products-table td h4 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-table tr {
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.products-table tbody {
    background-color: #f8f8f8;
}
.remove-product-img{
    width: 18px;
    margin-left: 10px;
}
.products-table h4 {
    padding-bottom: 4px;
    color: black;
}

#processorInfContainer {
    display: none;
}

.show-menu {
    visibility: visible;
    opacity: 1;
    flex: 0 340px;
}

.hide-menu {
    flex: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
}

.map-wrapper{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#map {
    width: 500px;
    height: 500px;
}
