/* General page styles*/

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: grey;
}

.red {
    color: red;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(170, 197, 224, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: sans-serif;
    overflow: hidden;
}

.main-container {
    display: flex;
    max-width: 1400px;
    height: calc(100vh - 40px);
    margin: 0 auto;
    background-color: white;
}

.main-container img {
    cursor: pointer;
}

.main-header {
    max-width: 1060px;
    padding-left: 340px;
    width: calc(100% - 320px);
    margin-left: auto;
    margin-right: auto;
    background-color: #eff4f8;
    border-bottom: 1px solid #d8e2ec;
    position: fixed;
    top: -2px;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-header h3 {
    padding-top: 3px;
}

.main-header img {
    left: 10px;
    display: none;
}

.main-footer {
    max-width: 1400px;
    height: 38px;
    margin: 0 auto;
    background-color: #2f3b47;
    z-index: 10;
    padding-bottom: 3px;
}

.footer-img {
    width: 16px;
    filter: invert(1);
    float: right;
    margin-top: 12px;
    padding-right: 20px;
}




