/* Styles for small screens. Values were taken as max-width 1100px, 600px*/

@media (max-width: 1100px) {
    .main-header {
        width: 125vw;
        padding-left: 0;
    }

    .main-header img {
        display: block;
    }

    .sidebar {
        max-width: 125vw;
    }

    .sidebar .footer-img:nth-of-type(1) {
        padding-right: 55px;
    }

    .show-menu {
        visibility: visible;
        opacity: 1;
        flex: 1 125vw;
    }

    .hide-menu {
        flex: 0;
        width: 0;
        visibility: hidden;
        opacity: 0;
    }

    .products-table th:nth-of-type(1), .products-table td:nth-of-type(1) {
        min-width: 290px;
    }

    .products-table td h4 {
        width: 290px;

    }

    .popup-content {
        width: 125vw;
        height: 125vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup-content form {
        width: 70%;
    }

    #map {
        width: 400px;
        height: 400px;
    }

}

@media (max-width: 600px) {
    .shipping-block {
        position: relative;
        height: auto;
    }

    .shipping-block ul {
        width: 50%;
        text-align: left;
        display: block;
        margin-top: -15px;
        padding-left: 0;
    }

    .shipping-block ul:nth-of-type(2) {
        position: absolute;
        left: 3%;
        top: 90px;
        margin-left: 0;

    }

    .shipping-block li, .shipping-block input {
        margin-top: 40px;
        width: 150px;
    }

    .js-customer-info li {
        margin-left: 140px;
    }

    .js-customer-info input {
        margin-top: 50px;
        margin-left: 140px;
    }

    #processorInfContainer input {
        margin-top: 42px;
    }

    #processorInfContainer .shipping-block ul:nth-of-type(1) {
        width: 50%;
        position: absolute;
        left: 3%;
        top: 70px;
    }

    #processorInfContainer ul {
        margin-top: 0;
    }

    #processorInfContainer .shipping-block ul {
        margin-top: 10px;
    }

    .details-block-wrapper {
        flex-direction: column;
    }

    .picture-wrapper {
        position: relative;
        top: 240px;
    }

    #processorInfContainer .shipping-block {
        height: 510px;
    }

    #processorInfContainer .pictureBg {
        margin-left: calc(45vw - 75px);
    }

    .products-table {
        border: 0;
    }

    .products-table tr {
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .products-table td::before {
        content: attr(data-label);
        float: left;
        white-space: pre;
    }

    .products-table td:last-child {
        border-bottom: 0;
    }

    .products-table th {
        display: none;
    }

    .products-table th:nth-of-type(1) {
        display: block;
        width: 96%;
    }

    .products-table td h4 {
        width: 90vw;
    }

    .popup-content form {
        width: 80%;
    }

    .popup-content h1 {
        margin-top: 20px;
        padding-bottom: 0;

    }

    #map {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
}

